.tic-tac-toe-container{


    .game-grid-container{
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 120px 120px 120px;
        
      }
      p{
        display: inline;
        margin-right: 20px;
      }
      
}